#gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
    gap: 20px 20px;
}
#gallery-wrapper {
    background-color: #C37B89;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
    gap: 20px 20px;
}
.gallery-title {
    font-family: Arial, Helvetica, sans-serif;
    color: #D3E4CD;
    text-align: center;
    font-variant: small-caps;
}
.search-field {
    background-color: #6a746a;
    border-radius: 10%;
    color: #D3E4CD;
    outline: none;
    background-image: url('images/search-icon.png');
    background-position: 10px 50%;
    background-repeat: no-repeat;
    padding: 20px 20px 20px 50px;
}
.search-field:focus {
    border: 5px solid #D3E4CD;
}
.page-indicator {
    color: #D3E4CD;
    font-size: 1.4em; /* 14px/16=0.875em */
    padding-left: 20px;
    padding-right: 20px;
}
.page-buttons {
    color: #D3E4CD;
    background-color: #6a746a;
    padding: 15px 30px 15px 30px;
    border-radius: 10%;
    font-size: 1.4em;
}
.page-button-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
}

#search-field-buttons-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: space-around;
    gap: 20px 20px;
}